<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.goodos.offsite-backup</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/open</string>
    <string>-gj</string>
    <string>__OFFSITE_APP_PATH__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>GOODBASE_BACKUP_DRIVE</key>
    <string>__BACKUP_DRIVE__</string>
    <key>GOODBASE_RECOVERY_ROOT</key>
    <string>__RECOVERY_ROOT__</string>
    <key>GOODBASE_BACKUP_VPS</key>
    <string>__BACKUP_VPS__</string>
    <key>GOODBASE_BACKUP_SSH_KEY</key>
    <string>__SSH_KEY__</string>
  </dict>
  <key>StartInterval</key>
  <integer>900</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__LOG_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__LOG_PATH__</string>
</dict>
</plist>
